
{% extends "base.html" %}
{% load static %}

{% block title %}Cart - Monke Bookstore{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/static.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
    <h1 style="text-align:center;">Your Cart</h2>

    <table>
        <tr>
            <th></th>
            <th>Book</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
        {% if cart_items %}
            {% for item in cart_items %}
            <tr>
                <td>
                    {% if item.book.image %}
                        <img src="{{ item.book.image.url }}" alt="{{ item.book.title }}">
                    {% else %}
                        Image Failed To Load
                    {% endif %}
                </td>
                <td>{{ item.book.title }}</td>
                <td>
                    <form method="post" action="{% url 'update_cart_item' item.id %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="0">
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>${{ item.subtotal }}</td>
                <td class="actions">
                    <form method="post" action="{% url 'update_cart_item' item.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="0">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Your cart is empty.</td>
            </tr>
        {% endif %}
    </table>
    <div class="total">
        Total: ${{ total_amount|default:"00.00" }}
    </div>
    <a class="place-order" href="{% url 'place_order' %}">Place Order</a>
    {% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
{% endblock %}
