{% extends "accounts/base_auth.html" %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% else % }

<p>Please login to see this page.</p>
{% endif %}

{% endif %}


<h1>Welcome to Monke Bookstore</h1>
<h3>Sign up with our Bookstore</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form">
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit">Log in</button>
    <input type ='hidden' name="next" value="{{next}}">
</form>
    <a href="{% url 'register' %}">
        <p>Register</p>
    </a>
{% endblock %}

