{% extends "accounts/base_auth.html" %}
{% block content %}

{% if form.errors %}
<p>Incorrect username or password.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>You are already logged in.</p>
{% else % }
<p>Please login to see this page.</p>
{% endif %}

{% endif %}


<h1>Welcome to Monke Bookstore</h1>
<h3>Sign in with our Bookstore</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form">
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" style="background-color: #0077cc; border-style: none; color: white; border-radius: 10px; width: 20%; height: 40px; font-size: 18px;">Log in</button>
    <input type ='hidden' name="next" value="{{next}}">
</form>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;">
        <p>Don't have an account?</p>
        <a href="{% url 'register' %}">
            <p>Register -></p>
        </a>
    </div>
{% endblock %}

